# fly.toml app configuration file generated for queenalba-backend on 2025-12-18T12:36:22+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'queenalba-backend'
primary_region = 'nrt'

[build]
  dockerfile = 'Dockerfile'

[env]
  API_PREFIX = '/api/v1'
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/v1/health'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
